<h1>Listing users</h1>

<% @users.each do |user| %>
  <div class="users">
   <b>Username: </b><%= user.username %><br/>
   <b>Crypted password: </b><%= user.crypted_password %><br/>
   <b>Password salt: </b><%= user.password_salt %><br/>
   <b>Persistence token: </b><%= user.persistence_token %><br/>
  <table>
  <tr>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  </table>
  </div>
<% end %>


<br />

<%= link_to 'New User', new_user_path %>
