<div class="backandprint noprint">
  <div class="back">
    <%= link_to 'Back', root_url %>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

<h1> Control Panel </h1>

<%= link_to "Mailing List", emails_path%> <br/>
<%= link_to "Add Email To Mailing List", new_email_path%> <br/>

<%= link_to "Offers List (Table View)", :postlist %> <br/>
<%= link_to "Offers List (Normal)", posts_path%> <br/>
<%= link_to "Post New Offer", new_post_path%> <br/>

<%= link_to "User Logins", users_path%> <br/>
<%= link_to "Create New User", new_user_path%> <br/>

<h2>Internal Navigation Links</h2>
<%= link_to "Home", root_url%><br/>
<%= link_to "Control Panel", :control%><br/>
<%= link_to "Login", :login %><br/>
<%= link_to "Logout", :logout%><br/>
<a href="/partners">Want To Advertise Here?</a><br/>
<a href="/faq">FAQ</a><br/>
<a href="/contact">Contact</a><br/>
<a href="/about">About</a><br/>
<a href="/404">404 error page</a><br/>
<a href="/422">422 error page</a><br/>
<a href="/500">500 error page</a><br/>

<h2>External Navigation Links</h2>
<a href="http://www.facebook.com/guildfordoffers">Facebook Page</a><br/>
<a href="http://twitter.com/guildfordoffers">Twitter Page</a><br/>
<a href="http://www.igeolise.com">iGeolise</a><br/>
