<%= link_to 'New Post', new_post_path %>
<p id="notice"><%= notice %></p>
<h1>Listing Offers</h1>

<% @posts.each do |post| %>
  <% if post.imgurl.blank? %>
    <%= link_to image_tag("/images/companylogos/nullimg.jpg", :alt => post.offer), post, :title => post.offer %>
  <% else %>
    <%= link_to image_tag(post.imgurl, :alt => post.offer), post, :title => post.offer %>
  <% end %>
<% end %>

<br />
<div class="page_info">
  <%= page_entries_info @posts, :entry_name => 'Offers' %>
</div>
<%= will_paginate @posts, :previous_label => '&#171;Previous', :next_label => 'Next&#187;' %>

<br/>

