<div class="backandprint noprint">
  <div class="back">
    <%= link_to 'Back', posts_path %>
  </div>
  <div class="print">
    <a href="#" onClick=" window.print(); return false"><img alt="Print This Offer" class="borderless" src="/images/print.gif"/> Print This Offer</a>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

IP address <%= @myip %>
<br/>My Lat <%= @mylat %>
<br/>My Long <%= @mylong %>
<br/>My Add <%= @mycity %>
<div class="offertitle">
  <div class="companytitle">
    <h1><%= @post.company %></h1>
  </div>
  <div class="offer">
    <h1><%= @post.offer %></h1>
    <%= @post.nus %><%= @post.web %>
  </div>
  <div class="clear"></div>
</div>
<div class="offercontainer">
  <div class="companyinfo">
    <% if @post.imgurl.blank? %>
      <%= image_tag("/images/companylogos/nullimg.jpg", :alt => @post.company) %>
    <% else %>
      <%= image_tag(@post.imgurl, :alt => @post.company) %>
    <% end %>
    <h2>Business Contact Info</h2>
    <%= link_to image_tag("/images/officialbutton.png", :alt => "Official Site", :class => "borderless"), @post.website , :title => "Official Site", :target => "_blank" %>
    <%= link_to image_tag("/images/facebook.png", :alt => "Facebook", :class => "borderless"), @post.facebook , :title => "Facebook", :target => "_blank" %>
    <%= link_to image_tag("/images/twitter.png", :alt => "Twitter", :class => "borderless"), @post.twitter , :title => "Twitter", :target => "_blank"%>
    <% unless @post.email.blank? %>
    <%= link_to image_tag("/images/email.png", :alt => "Email", :class => "borderless"), "mailto:" + @post.email , :title => "Email", :target => "_blank" %>
    <% end %>
    <br/>
    <div class="companytext">
      <%= image_tag("/images/phone.png", :alt => "Phone") %> <%= @post.phone %>
      <br/>
      <%= image_tag("/images/house.png", :alt => "Address") %> Address:
      <br/>
      <%= @post.address %>
      <br/>
      Opening Times:
      <br/>
      <%= @post.openingtimes %>
    </div>
    <br/>
    <div>
      Map stuff:
      <br/>
      Latitude: <%= @post.latitude %>
      <br/>
      Longitude: <%= @post.longitude %>
    </div>
  </div>
  <div class="offerinfo">
    <div class="info">
      <b>Description:</b>
      <%= @post.description %>
      <br/>
      <br/>
      <b>Valid To:</b> <%= @post.validto %>
      <br/>
      <b>Valid To Conditions:</b> <%= @post.validtonotes %>
    </div>
    <div class="tags">
      Tags: <%= @post.metadata %>
    </div>
    <div class="spreadword noprint">
        Spread The Word!! 
        <!-- AddThis Code BEGIN -->
        <div class="addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="box_count" fb:like:width="46" fb:like:height="60" addthis:url="<%=  request.url %>" ></a>
        <a class="fbshare" name="fb_share" type="box_count" share_url="<%=  request.url %>" href="http://www.facebook.com/sharer.php" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.facebook.com']);">Share</a>
        <a class="addthis_button_tweet" tw:count="vertical" addthis:url="<%=  request.url %>" tw:via="guildfordoffers" tw:text="<%= @post.offer %>" ></a>
        <a class="addthis_counter" addthis:url="<%=  request.url %>" addthis:title="<%= @post.offer %>" ></a>
        </div>
        <!-- AddThis Code END -->
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="datebox noprint">
  <div class="createdat">
    <% if @post.created_at.to_date == Date.today %>
      Posted <%=time_ago_in_words(@post.created_at)%> ago.
    <% else %>
      Posted <%= display_date(@post.created_at) %>.
    <% end %>
  </div>
  <div class="updatedat">
    Last updated <%= display_date(@post.updated_at) %>
  </div>
  <div class="clear"></div>
</div>
<div id="map" class="noprint">
  No Map Data Available
</div>
<br/>
