<a href="#" onClick=" window.print(); return false"><img class="borderless" src="/images/print.gif"/> Print This Offer</a>
<br/>

<p id="notice"><%= notice %></p>

  <% if @post.created_at.to_date == Date.today %>
    Posted <%=time_ago_in_words(@post.created_at)%> ago.
  <% else %>
    Posted <%= display_date(@post.created_at) %>.
  <% end %>

<h1><%= @post.company %></h1>
<h1><%= @post.offer %></h1>
<%= @post.nus %>
<%= @post.web %>
<div>
<div class="companyinfo">
  <div class="center">
  <% if @post.imgurl.blank? %>
    <%= image_tag("/images/companylogos/nullimg.jpg", :alt => @post.company) %>
  <% else %>
    <%= image_tag(@post.imgurl, :alt => @post.company) %>
  <% end %>
  </div>
  <br/>
  Phone: <%= @post.phone %>
  <br/>
  Email: <%= @post.email %>
  <br/>
  Website: <%= @post.website %>
  <br/>
  Facebook: <%= @post.facebook %>
  <br/>
  Twitter: <%= @post.twitter %>
  <br/>
  Opening Times:
  <br/>
  <%= @post.openingtimes %>
  <br/>
  Address:<br/>
  <%= @post.address %>
  <br/>
  Lat: <%= @post.latitude %>
  <br/>
  Long: <%= @post.longitude %>
</div>
<div class="offerinfo">
  <b>Description:</b>
  <%= @post.description %>
  <br/>
  <br/>
  Valid To: <%= @post.validto %>
  <br/>
  Valid To Conditions: <%= @post.validtonotes %>
  <br/>
  <br/>
  Tags: <%= @post.metadata %>
</div>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
