<div class="backandprint noprint">
  <div class="print">
    <a href="#" onClick=" window.print(); return false"><img alt="Print This Offer" class="borderless" src="/rework/printer.png"/> Print This Offer</a>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

<div class="offertitle">
  <div class="companytitle">
    <h1><%= @post.company %></h1>
  </div>
  <div class="offer">
    <h1><%= @post.offer %></h1>
  </div>
  <div class="clear"></div>
</div>
<div class="offercontainer">
  <div class="companyinfo">
    <% if @post.web == "1" %>
      <div class="badge">
        <%= image_tag("/rework/web.png", :alt => "Online Only") %>
      </div>
    <% end %>
    <div class="businessboxtop">
      <% if @post.imgurl.blank? %>
        <%= image_tag("/images/companylogos/nullimg.jpg", :alt => @post.company) %>
      <% else %>
        <%= image_tag(@post.imgurl, :alt => @post.company) %>
      <% end %>
    </div>
    <div class="businessboxmiddle">
      TEXT ABOUT COMPANY<br/>
      TEXT ABOUT COMPANY<br/>
      TEXT ABOUT COMPANY<br/><br/>
      <div class="companytext">
        <%= image_tag("/rework/phone.png", :alt => "Phone") %> Telephone:
        <br/>
        <% if @post.phone.blank? %>
          <div class="companytext">N/A</div>
        <% else %>
          <div class="companytext"><%= @post.phone %></div>
        <% end %>
        <br/>
        <%= image_tag("/rework/home.png", :alt => "Address") %> Address:
        <br/>
        <% if @post.address.blank? %>
          <div class="companytext">N/A</div>
        <% else %>
          <div class="companytext"><%= @post.address %></div>
        <% end %>
        <br/>
        <%= image_tag("/rework/time.png", :alt => "Address") %> Opening Times:
        <br/>
        <% if @post.openingtimes.blank? %>
          <div class="companytext">N/A</div>
        <% else %>
          <div class="companytext"><%= @post.openingtimes %></div>
        <% end %>
        <br/>
        <br/>
      </div>
      <%= link_to image_tag("/images/officialbutton.png", :alt => "Official Site", :class => "borderless"), @post.website , :title => "Official Site", :target => "_blank" %>
      <%= link_to image_tag("/images/facebook.png", :alt => "Facebook", :class => "borderless"), @post.facebook , :title => "Facebook", :target => "_blank" %>
      <%= link_to image_tag("/images/twitter.png", :alt => "Twitter", :class => "borderless"), @post.twitter , :title => "Twitter", :target => "_blank"%>
      <% unless @post.email.blank? %>
      <%= link_to image_tag("/images/email.png", :alt => "Email", :class => "borderless"), "mailto:" + @post.email , :title => "Email", :target => "_blank" %>
      <% end %>
    </div>
    <div class="businessboxbottom">
      <div class="companytext">
        <br/>
        <%= image_tag("/rework/compass.png", :alt => "Geolocation") %> Geolocation:
        <br/>
        <div class="companytext">
        Latitude:
        <% if @post.latitude.blank? %>
            N/A
        <% else %>
          <%= @post.latitude %>
        <% end %>
        <br/>
        Longitude:
        <% if @post.longitude.blank? %>
            N/A
        <% else %>
          <%= @post.longitude %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="offerinfo">
    <div class="info">
      <% if @post.nus == "1" %>
        <div class="badge">
          <%= image_tag("/rework/nus.png", :alt => "NUS Card Required") %>
        </div>
      <% end %>
      <div class="boxtop"></div>
      <div class="boxmiddle">
        <%= @post.description %>
        <br/>
        <br/>
        <b>Valid To:</b>
        <% if @post.validto.blank? %>
            N/A
        <% else %>
          <%= @post.validto %>
        <% end %>
        <br/>
        <b>Conditions:</b>
        <% if @post.validto.blank? %>
            N/A
        <% else %>
          <%= @post.validtonotes %>
        <% end %>
      </div>
      <div class="boxbottom"></div>
    </div>
    <div class="tags">
      <div class="boxtop"></div>
      <div class="boxmiddle">
        <b>Tags:</b> <%= @post.metadata %>
      </div>
      <div class="boxbottom"></div>
    </div>
    <div class="spreadword noprint">
        <!-- AddThis Code BEGIN -->
        <div class="addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="box_count" fb:like:width="46" fb:like:height="60" addthis:url="<%=  request.url %>" ></a>
        <a class="fbshare" name="fb_share" type="box_count" share_url="<%=  request.url %>" href="http://www.facebook.com/sharer.php" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.facebook.com']);">Share</a>
        <a class="addthis_button_tweet" tw:count="vertical" addthis:url="<%=  request.url %>" tw:via="guildfordoffers" tw:text="<%= @post.offer %>" ></a>
        <a class="addthis_counter" addthis:url="<%=  request.url %>" addthis:title="<%= @post.offer %>" ></a>
        </div>
        <!-- AddThis Code END -->
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="datebox noprint">
  <div class="createdat">
    <% if @post.created_at.to_date == Date.today %>
      Posted <%=time_ago_in_words(@post.created_at)%> ago.
    <% else %>
      Posted <%= display_date(@post.created_at) %>.
    <% end %>
  </div>
  <div class="updatedat">
    Last updated <%= display_date(@post.updated_at) %>
  </div>
  <div class="clear"></div>
</div>

<div id="map" class="noprint">
  No Map Data Available
</div>
<br/>
<div class="userinfo noprint">
USER INFO - UNDER DEVELOPEMENT <br/>
IP address <%= @myip %>
<br/>My Lat <%= @mylat %>
<br/>My Long <%= @mylong %>
<br/>My Address <%= @mycity %>
</div>
<div class="noprint">
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:comments href="<%=request.url%>" num_posts="5" width="940px" colorscheme="dark"></fb:comments>
</div>
<br/><br/>