<div id="notice"><%= notice %></div>

<h1>Listing emails</h1>

<table class="emaillisting">
  <tr>
    <th>Email</th>
  </tr>
<% @emails.each do |email| %>
  <tr>
    <td><%= email.email %></td>
    <td>
      <%= link_to 'Show', email %> |
      <%= link_to 'Edit', edit_email_path(email) %> |
      <%= link_to 'Destroy', email, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Email', new_email_path %>
