  <title>Guildford Student Offers</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-language" content="en" />
  <meta name="description" content="Guildford Student Offers - We find the deals so you don't have to. Connecting the businesses of Guildford with the students of Guildford. BETA Version." />
  <meta name="keywords" content="Guildford, Student, Offers, Deals, Bargains, Discounts, iGeolise, facebook" />
  <meta name="author" content="iGeolise (http://www.igeolise.com) Stephen Law (http://www.stephenlaw.co.uk)" />
  <%= auto_discovery_link_tag(:rss, "/feed.rss") %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag "scaffold", "stylesheet1", :cache => true, :concat => true %>
  <%= stylesheet_link_tag "print", :media => 'print' %>
  <%= javascript_include_tag :defaults %>
  <% if controller.controller_name == 'posts' && controller.action_name == 'show' %>
    <% unless @post.latitude.blank? or @post.longitude.blank? %>
    <%= raw GMap.header %>
    <%= raw @map.to_html%>
    <% end %>
  <% end %>

