<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="containerbg">
    <div class="container">
      <div class="searchbg noprint">
        <div class="back">
          <%= link_to image_tag("/rework/home.png", :alt => "Home", :class => "borderless"), root_url, :title => "Home" %>
          <%= link_to 'Home', root_url %>
        </div>
        <div class="search">
          <%= render 'posts/searchform' %>
        </div>
        <div class="clear"></div>
      </div>
      <%= yield %>
      <br/>
      <div class="rendered noprint">
      <%= "Page rendered in #{Time.now - @start_time} seconds" %>
      </div>
    </div>
  </div>  
  <%= render 'layouts/footer' %>
  <%= render 'layouts/endscripts' %>
</body>
</html>
