<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Guildford Student Offers</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-language" content="en" />
  <meta name="description" content="Guildford Student Offers - We find the deals so you don't have to. BETA" />
  <meta name="keywords" content="Guildford, Student, Offers, Deals, Bargains, Discounts, iGeolise, facebook" />
  <meta name="author" content="iGeolise (http://www.igeolise.com) Stephen Law (http://www.stephenlaw.co.uk)" />
  <%= csrf_meta_tag %>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag "scaffold", "stylesheet1", :cache => true, :concat => true %>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4d80079f04c2aeff"></script>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  
  <div class="header">
    <div class="nav">
      <div class="logo">
        <a title="Guildford Student Offers" href="http://www.guildfordoffers.com" target="_blank"><img alt="Guildford Student Offers" class="borderless" src="/images/gsologo.png"/></a>
      </div>
      <div class="socialbox">
        <!-- AddThis Code BEGIN -->
        <div class="addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="box_count" fb:like:width="46" fb:like:height="100" addthis:url="http://www.facebook.com/guildfordoffers"></a>
        <a class="addthis_button_tweet" tw:count="vertical" addthis:url="http://www.guildfordoffers.com" tw:via="guildfordoffers" tw:text="Guilford Student Offers have loads of discounts check them out!!"></a>
        <a class="addthis_counter" addthis:url="http://www.guildfordoffers.com" addthis:title="Amazing Student Discounts At Guildford Student Offers Check them out!!"></a>
        </div>
        <!-- AddThis Code END -->
      </div>
      <div class="links">
        <% if current_user %>
          Signed in as <%= current_user.username %> | <%= link_to "Logout", :logout%>
        <% else %>
          <%= link_to "Register", new_user_path%> |
          <%= link_to "Login", :login %>
        <% end %>
      </div>
    </div>
    <div class="banner">
      <div id="fbarrow">
        <a class="linkarea" title="guildfordoffers on facebook" href="http://www.facebook.com/guildfordoffers"></a>
      </div>
      <div id="twitter_container">
        <div id="twitter_update_list">
          Twitter feed loading
        </div>
        <div id="twitter_bottom">
          <a class="linkarea" title="guildfordoffers on twitter" href="http://twitter.com/guildfordoffers"></a>
        </div>
      </div>
      
    </div>
  </div>

  <div class="searchbg">
    <div class="search">
      Search Box To Go Here
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    Copyright, links back to top etc etc etc
    <br/>
    Subscribe To Receive Newsletters And Updates - Possibly chuck this in footer
  </div>
  <!-- twitter script doesnt work when in head -->
  <script type="text/javascript" src="/javascripts/twitter.js"></script>
  <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/guildfordoffers.json?callback=twitterCallback2&amp;count=1"></script>
  <!-- twitter script END -->
</body>
</html>
